{% extends 'layout.twig' %}
{% block body %}
<div style="margin-top:50px; height:300px" class="gray">
	<div class="container" style="padding-top:25px">
		<div class="row">
			<div class="col-lg-8">
				<h1><b>Contact page</b></h1>
			</div>
		</div>
	</div>
</div>
<div class="container" style="margin-top:50px">
	<div class="col-lg-6">
		<h2 class="fgray"><b>future-team@webcup.fr</b></h2>
		<h2 class="fgray"><b>+261 33 11 009 53</b></h2>
	</div>
	<div class="col-lg-6">
		<h1 class="fgray">Des commentaires?</h1>
		<div class="row">
			<div class="col-lg-6">
				<input type="text" placeholder="Votre nom">
				<input type="text" placeholder="Votre email">
				<input type="text" placeholder="Votre téléphone">
			</div>
			<div class="col-lg-6">
				<textarea rows=5>
				</textarea>
			</div>
			<div class="col-lg-12">
				<button>Envoyer</button>
			</div>
		</div>
	</div>
</div>


{% endblock %}