{% extends 'layout.twig' %}
{% block body %}
<div style="margin-top:50px; height:300px" class="gray">
	<div class="container" style="padding-top:25px">
		<div class="row">
			<div class="col-lg-8">
				<h1><b>Site de vente de jeu vidéo le plus populaire au monde</b></h1>
			</div>
		</div>
	</div>
</div>

<div class="container" style="margin-top:25px">
<div class="row">
	<div class="col-lg-6">
		<img src="{{ asset('/img/7c560a82-3c88-4a68-8908-20e9e4667906_16.png') }}" />
		<button class="emerald">En savoir plus </button>
	</div>
	<div class="col-lg-6">
		<h2 class="fgray">Pc nouvauté dans le marché</h2>
		<p>
			Includes 180 glyphs in font format from the Glyphicon Halflings set.  Halflings are normally 
			not available for free, but their creator has made them available for Bootstrap free of cost.
			As a thank you, we only ask that you to include a link back to Glyphicons whenever possible.
		</p>
		<p>
			<img src="{{ asset('/img/XboxLogo.png') }}" /> 
			<h2 class="fgray">XBOX Game</h2>
			<p>
				Includes 180 glyphs in font format from the Glyphicon Halflings set.  Halflings are normally 
				not available for free, but their creator has made them available for Bootstrap free of cost.
			</p>
		</p>
	</div>
</div>
	
	<h1>Documentation</h1>
</div>


</div>
{% endblock %}